<div class="w3-container" style="padding: 20px; padding-left:50px; background-color: white; filter: opacity(95%);">
    <div class="w3-row">
      <div class="w3-half">
        <%= image_tag 'enel.png' %>
      </div>
      <div class="w3-half" style="padding: 5%;">
        <h2>PORTAL ALIADOS VIRTUALES</h2>
      </div>
    </div>
  </div>