<%= render  "partials/banner" %>
<%= render  "partials/navigation" %>
<div class="w3-container">
    <div class="w3-row">
        <div class="w3-col w3-padding-large">
            <h2>Diligenciar encuesta</h2>
        </div>
    </div>
</div>

<div class="w3-container">
    <div class="w3-row">
        <div class="w3-col w3-padding-large">
            <p>Pregunta 1</p>
        </div>
    </div>
</div>

<div class="w3-container">
    <div class="w3-row">
        <div class="w3-col w3-padding-large">
            <p>Pregunta 2</p>
        </div>
    </div>
</div>

<div class="w3-container">
    <div class="w3-row">
        <div class="w3-col w3-padding-large">
            <p>Pregutna 3</p>
        </div>
    </div>
</div>